
<div class="container new">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, label: "Insert the name of your favorite cocktail" %>
    <%= f.submit "Add my delicious cocktail", class: "btn btn-medium" %>
  <% end %>
</div>


