<div class="container new">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, label: "Which ingredient ?" %>
    <%= f.input :description, label: "How much ?" %>
    <%= f.submit "Add this ingredient to my cocktail", class: "btn btn-medium" %>
  <% end %>
</div>

<!-- new_cocktail_dose GET    /cocktails/:cocktail_id/doses/new(.:format)     -->
